/PracticasProfesionalesLIS/nbproject/private/
/PracticasProfesionalesLIS/dist/
/PracticasProfesionalesLIS/build/
PracticasProfesionalesLIS/nbproject/private/private.xml
PracticasProfesionalesLIS/nbproject/private/private.xml
PracticasProfesionalesLIS/nbproject/private/private.xml
/PracticasProfesionalesLIS/src/practicasprofesionaleslis/modelo/ConexionBD.java

